# Dataset folder and files
Dataset/*
Dataset/top20_entries_across_journals.csv
Dataset/journal_top20_summary.csv

# Curation output files
positive_entries_backup_20251110_145850.csv
positive_entries.csv
positive_*
negative_*
curation_progress.json

# DOME Registry output folders and files
DOME_Registry_JSON_Files/
DOME_Registry_TSV_Files/
DOME_Registry_PMC_PDFs/
DOME_Registry_PMC_Supplementary/

# Backup files
*_backup.csv
*_backup.json
*_backup.tsv

# Positive PMC output folders
Positive_PMC_PDFs/
Positive_PMC_Supplementary/
Positive_PMC_TSV_Files/

# Copilot Processed Folders
Copilot_1000_v0_Processed_2026-01-15/
Copilot_1000_v0_Processed_2026-01-15_Updated_Metadata/
Copilot_v0_Processed_2025-12-04_Updated_Metadata/
